	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="collapse navbar-collapse" id="navbarText">
          <!--need to add a link for calculator/dashboard stuff-->
          <div class="navbar-brand">
            Portfolio Optimization
          </div>
		<div class="navbar-right">
            <a href="/home"><button class="btn btn-outline-dark my-2 my-sm-0" type="reset">Logout</button></a>
		</div>
	  </div>
	</nav>