<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="container">
<h1> Calculator Page</h1>

<h4><a href="https://www.youtube.com/watch?v=Jh7Z1wTGicY">Made it past login.</a></h4>
</div>
<%- include('../partials/footer') %>