<%- include('../partials/header') %>
<%- include('../partials/menu2') %>
    <div class="col-md-6 m-auto testPadding">
        <div class="card-dark card-body mainCard mx-auto">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Portfolio Optimization
                <!-- still need to spice up home page a little bit-->
            </h1>
            <br>
            <a href="/login" class="btn btn-outline-light my-2 my-sm-0">Login</a>
            <br>
            <a href="/registration" class="btn btn-outline-light my-2 my-sm-0">Register</a>
        </div>
    </div>

<%- include('../partials/footer') %>