<h1 class="mt-4">Profile</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<br><br>

<h2>Modern Portfolio Theory</h2>
<p>Modern Portfolio Theory (MPT) was first outlined by Harry Markowitz in his 1952 publication "Portfolio Selection". According to the theory, is is possible to construct an "efficient frontier" of optimal portfolios that minimizes the total risk, given a level of expected return.
</p>

<img src="../public/images/efficient_frontier.png" alt="graph" style="width:60%" style="float:left" >
<br><br>

<p>MPT shows that gien a desired level of expected return, an investor can construct a portfolio with the lowest possible risk.</p>

<a href="/calculator" class="btn btn-secondary">Calculator</a>
<br><br>
<a href="/logout" class="btn btn-secondary">Logout</a>